*{
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary-color: #3a0c34;
    --secondary-color: #d7ccda;
}

h1 {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    background-color: var(--secondary-color);
    padding: 1rem;
}

p {
    padding: 4px;
    font-size: 15px;
}


form legend, form label {
    display: block;
    padding: 8px;
    font-size: 1rem;
}

form fieldset {
    margin: 2rem 0;
    border: solid 1px #3d3b3b;
    border-radius: 6px;
    padding: .5rem 2%
}

form input[type="text"],
form select{
    background-color: #eee;
    display: block;
    border: none;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

form input[type="date"] {
    font-size: large;
    margin: 5px;
    padding: 5px;
}

form input[type="radio"], form input[type="checkbox"] {
    margin-right: 6px;
}




form input[type="submit"] {
    border: none;
    background-image: linear-gradient( #5c1f4f,#110b5f);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;

}

form input:required {
    border-left: solid 8px #9c2c13;
}

form input:required:valid {
    border-left: solid 8px #1f9608;
}

footer {
    background-color: var(--primary-color);
    color: #eee;
    text-align: center;
    padding: 1rem;
}