* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FC3D32; /* Red */
    --white: #FFFFFF;
    --secondary-color: #007E3A; /* Green */
}



body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: var(--white);
}

header {
    background-color: var(--white);
    color: var(--white);
    text-align: center;
    border-bottom: 5px solid var(--secondary-color);
}

h1 {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem;
}

.hero img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-box {
    position: absolute;
    background: var(--white);
    color: #000;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1.2rem; 
}

table {
    background-color: var(--white);
    padding: 1.5rem;
}

table tr td {
    padding: 0.5rem;
}

#weather-icon{
    width: 20%;
    height: auto;
    margin: 1rem 0.5rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

@media (max-width: 500px) {

    .hero-overlay {
        position: static;
    }

    #weather-icon {
        display: none;
    }

    .weather h2::after {
        content: "⛅";
        font-size: 1rem;
    }

}