* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FC3D32; /* Red */
    --white: #FFFFFF;
    --secondary-color: #007E3A; /* Green */
}



body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: var(--white);
}

header {
    background-color: var(--white);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    border-bottom: 5px solid var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom: 5px solid var(--secondary-color);
    padding: 1rem;
    margin-bottom: 1rem;
}

.hero {
    position: relative;
}

.hero-overlay {
    position: absolute;
    gap: 1rem;
    z-index: 1;
}

.overlay-box {
    background: var(--white);
    padding: 1rem;
    color: #000;
}

.overlay-box h2 {
    background: var(--secondary-color);
    color: #fff;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
}

#weather-icon,
.weather-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1.2rem; 
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

table {
    background-color: var(--white);
    padding: 1.5rem;
    border: none;
    border-radius: 0;
    text-align: center;
}

table tr td {
    padding: 0.5rem;
    margin: 1rem; 
}

.weather-icon{
    justify-content: center;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

@media (max-width: 500px) {

    .hero img {
        width: 100%;
        height: auto;
    }

    .hero-overlay {
        position: static;
        grid-template-columns: 1fr;
        top: auto;
        left: auto;
        right: auto;
        z-index: auto;
        margin-top: -2rem;
    }

    #weather-icon img,
    .weather-icon img {
        display: none;
    }

    .weather h2::after {
        content: "⛅";
        font-size: 1.2rem;
    }

}