* {
    padding: 0;
    margin: 0;
}

:root {
    --heading-font-one: Arial, Helvetica, sans-serif;
    --heading-font-two: 'Montserrat', Tahoma, Verdana, sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    line-height: 1.5; 
    letter-spacing: 0.9px;
}

h1 {
    font-family: var(--heading-font-one);
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-family: var(--heading-font-two);
    text-align: center;
}

p {
    display: block;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 20px;

}

#opening {
    position: relative;
    display: inline-block;
}

#opening img {
    display: block;
    max-width: 96%;
    height: auto;
    border: 2px solid black;
    margin: 10px auto 10px auto;
}

#opening p {
    position: absolute;
    top: 20em;
    right: 20rem;

    text-align: center;
    font-family: var(--heading-font-two);
    color: rgb(0, 0, 0);
    background-color: rgba(211, 211, 211, 0.8);

}

header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

a {   
    text-decoration: none;
    padding: 1rem;
    font-size: 18px;
    color: black;
}

a:hover {
    color: darkgrey;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

article h2 {
    grid-column: span 3;
}

article img {
    width: 60%;
    height: auto;
    border: 2px solid black;
    margin: 28px 4rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

button {
    border: none;
    background-image: linear-gradient( #000000,#222120);
    border-radius: 6px;
    padding: .8rem;
    margin: 12px;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;
}

button a {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
}

