
* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}





@media (min-width: 500px) {

    .show {
    display: block;
}


    h1 {
        font-size: 2rem;
    }

    nav {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
}


