body {
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin: 0 auto;
}

.navigation a {
    text-align: center;
}

.navigation a:hover {
    text-decoration: none;
color: #05d4f0;

}

figure {
    display: grid;
	grid-template-columns: repeat(minmax(200px, 1fr));
	grid-gap: 10px;
	place-items: center;
}

figure img {
    width: 340px;
    height: auto;
}

figcaption {
    padding: 0.5rem;
    font-weight: 300;
    text-align: left;
}