* {
    margin: 0;
    padding: 0;
}

:root {
    --text-colorblack: #333;
    --text-colorwhite: #fff;
    --primary-color: #0b4d47;
    --secondary-color: #3d835d;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

h1 {
    background-color: var(--primary-color);
    color: var(--text-colorwhite);
    padding: 1rem;
    text-align: center;
}

h2 {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

#menu {
    display: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;  
    flex: 1 1 100%;
    justify-content: center;
}

nav li {
    cursor: pointer;
}

nav a {
    font-weight: 700;
    padding: 1rem 1.5rem;
    color: var(--text-colorwhite);
}


nav a:hover {
    color: #00d9ff;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-colorwhite);
    text-align: center;
    padding: 1rem;
}

main div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
figure {
    padding: 1rem;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

